@font-face {
    font-family: pressStart;
    src: url(Press_Start_2P/PressStart2P-Regular.ttf);
}

body {
    margin: 0;
    overflow: hidden;
    background: #2c1e1e;
    height: 100vh;
    position: relative;
    
}
.container {
    margin: 0;
    overflow: hidden;
    background: #f0e6d2; 
    color: #4a4a4a; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}

#clock {
    font-family: pressStart, cursive;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    background: rgba(255, 255, 255, 0.8); 
    padding: 30px; 
    border: 6px solid #d4af37; 
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.5);
    animation : glow 10s infinite;
}



  @keyframes glow {
    0%, 100% { text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }
    50% { text-shadow: 2px 2px 8px rgba(212, 175, 55, 0.7); }
  }
